<section class="charts" id="jobs">
    <h2>Posted Jobs</h2>
    <div class="chart-container">
        <ul>

            <li>
                <h3>title</h3>
                <p>description</p>
            </li>
            <li>
                <h3>title</h3>
                <p>description</p>
            </li>
            <li>
                <h3>title</h3>
                <p>description</p>
            </li>
            <li>
                <h3>title</h3>
                <p>description</p>
            </li>
        </ul>
    </div>
</section>
